/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Oct 2021, 18:10:13
    Author     : Tom
*/

.interface {
    border: 2px solid #bbb;
    border-radius: 10px;
    padding: 10px;
    margin: 100px auto;
    width: 375px;
}

.keypad, #screen {
    width: 350px;
}

#screen {
    border: 2px solid #bbb;
    border-radius: 10px;
    height: 200px;
    background-color: #ddd;
}

.keypadrow {
    display: flex;
    justify-content: space-evenly;
}

.keypad button {
    width: 25%;
    height: 60px;
    margin-top: 10px;
    font-size: 30px;
}